<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico">

    <title>Angularify</title>

    <link href="//<%= host %><%= basePath %>/css/styles.css" rel="stylesheet">
  </head>

  <body class="container">
    <div class="row">
    <% milestones.forEach(function (milestone) {%>
      <div class="col-md-2"><%= milestone.title %></div>
      <div class="col-md-2"><img src="<%= milestone.badge %>"></div>
      <div class="col-md-8"><a href="<%= milestone.url %>"><%= milestone.url %></a></div>
    <% }); %>
    </div>
  </body>
</html>
